    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --colorWhite: #fff;
        --colorBlack: #000;
        --colorMain: #F36;
        --colorBlackLight: #2e2e2e;
        --colorSilver: #D4D9E2;
        --redColor: #e3342f;
        --greenColor: #28a745;
    }
    
    .container {
        width: 100%;
    }
    
    body {
        font-family: sans-serif;
        overflow-x: hidden;
    }
    
    .logo {
        width: 20%;
    }
    
    .header-left-col {
        flex-basis: 50%;
    }
    
    #navbar1 {
        display: flex;
        list-style: none;
        list-style-type: none;
        justify-content: space-between;
        margin-top: -130px;
        margin-left: 10px;
        padding-left: 30%;
        padding-right: 10px;
        margin-right: 50px;
        list-style-type: none;
    }
    
    .menu_list li {
        display: flex;
        list-style: none;
        list-style-type: none;
        text-align: center;
        border: 2px solid;
        color: red;
    }
    
    .marquee_1 {
        margin-left: 50px;
        background-color: none;
    }
    
    main {
        display: grid;
        grid-template-columns: 550px 500px;
        align-items: center;
    }
    
    .box2 {
        display: grid;
        background-image: url('Images/fit_2.PNG');
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    
    #form {
        width: 500px;
        margin-top: 70px;
        margin-left: 20px;
        display: inline-flex;
        background-color: aqua;
    }
    
    #form {
        padding: 10px;
        border: 1px solid #eee;
    }
    
    .single-feature h3 {
        color: white;
    }
    
    .single-feature {
        position: relative;
        width: 325px;
        float: left;
        padding: 50px 0;
        text-align: center;
        border-right: 1px solid #65c8e5;
        border-bottom: 1px solid #65c8e5;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .featured-icon {
        display: inline-block;
        margin-bottom: 20px;
    }
    
    .single-feature i.fa {
        border: 2px solid #fff;
        padding: 15px;
        border-radius: 50%;
        font-size: 30px;
        background-color: #00a7dd;
        color: white;
        width: 64px;
        height: 64px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .feature-block:hover .single-feature {
        border-color: white;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .single-feature:hover .featured-icon .fa {
        border: 2px solid #00a7dd;
        background: white;
        color: deepskyblue;
    }
    
    .single-feature:nth-of-type(even) {
        border-right: none;
    }
    
    .single-feature:nth-last-child(2) {
        border-bottom: none;
    }
    
    .single-feature:last-child {
        border-bottom: none;
    }
    
    .feature-area {
        padding: 20px 20px;
    }
    
    .feature-mockup {
        bottom: -120px;
        position: relative;
    }
    
    .title .sub-heading p {
        color: white;
    }
    
    .testimonials {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(..//image/water_lake.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 120px;
        padding-bottom: 120px;
        color: white;
        margin-top: -100px;
    }
    
    .testimonials .carousel-indicators {
        bottom: -60px;
    }
    
    .testimonials .sub-heading p {
        color: white;
    }
    
    .carousel-inner img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 2px solid deepskyblue;
        padding: 5px;
    }
    
    .testimonials .carousel-indicators li.active {
        background-color: deepskyblue;
    }
    
    .sub-heading {
        position: relative;
        margin-bottom: 75px;
    }
    
    .sub-heading:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -3%;
        width: 6%;
        height: 1px;
        background: deepskyblue;
        z-index: 1;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    
    .sub-heading:hover:before {
        width: 24%;
        margin-left: -12%;
    }
    
    .sub-heading:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12%;
        width: 24%;
        height: 1px;
        background: #e1e1e1;
    }
    
    .services_img {
        width: 100%;
        position: cover;
    }
    
    .sub-heading p {
        color: #818181;
        display: inline-block;
        padding: 0px 0px 20px;
        position: relative;
        line-height: 24px;
        letter-spacing: 0.025em;
    }
    
    .feature-area {
        background-image: linear-gradient(white, rgba(0, 0, 0, 0.8)), url(Images/clouds-2517653_1920.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .title h2,
    p {
        color: white;
    }
    
    .single-feature h3 {
        color: white;
    }
    
    .single-feature {
        position: relative;
        width: 325px;
        float: left;
        padding: 50px 0;
        text-align: center;
        border-right: 1px solid #65c8e5;
        border-bottom: 1px solid #65c8e5;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .feature-block:after {
        content: "";
    }
    
    .feature-block:after {
        clear: both;
    }
    
    .featured-icon {
        display: inline-block;
        margin-bottom: 20px;
    }
    
    .single-feature i.fa {
        border: 2px solid #fff;
        padding: 15px;
        border-radius: 50%;
        font-size: 30px;
        background-color: #00a7dd;
        color: white;
        width: 64px;
        height: 64px;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .feature-block:hover .single-feature {
        border-color: white;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        -ms-transition: .3s ease;
    }
    
    .single-feature:hover .featured-icon .fa {
        border: 2px solid #00a7dd;
        background: white;
        color: deepskyblue;
    }
    
    .single-feature:nth-of-type(even) {
        border-right: none;
    }
    
    .single-feature:nth-last-child(2) {
        border-bottom: none;
    }
    
    .single-feature:last-child {
        border-bottom: none;
    }
    
    .feature-area {
        padding: 20px 0;
    }
    
    .feature-mockup {
        bottom: -120px;
        position: relative;
    }
    
    .title .sub-heading p {
        color: white;
    }
    
    .more-feature-area .title h2 {
        color: black;
    }
    
    .more-feature-area .title .sub-heading p {
        color: darkgrey;
    }
    
    .more-feature-area {
        padding: 100px 0;
    }
    
    .feature-list ul {
        list-style: none;
    }
    
    .feature-list li {
        position: relative;
        margin-bottom: 30px;
        padding-left: 80px;
    }
    
    .feature-list li:hover i {
        color: white;
        background: #00a7dd;
        transition: .5s ease;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -o-transition: .5s ease;
        -ms-transition: .5s ease;
    }
    
    .feature-icon {
        position: absolute;
        left: 0;
    }
    
    .feature-icon i {
        width: 63px;
        height: 63px;
        text-align: center;
        font-size: 30px;
        background: white;
        color: deepskyblue;
        border-radius: 50%;
        border: 2px solid deepskyblue;
        line-height: 63px;
    }
    
    .circle1 {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 750px;
    }
    
    .easily img {
        align-items: cover;
        width: 500px;
        margin-left: -150px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    
    .circle2 {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 750px;
    }
    
    .reasonabable img {
        background-position: cover;
        align-items: center;
        width: 500px;
        margin-left: -150px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: -180px;
    }
    
    .circle3 {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 750px;
    }
    
    .fast-services img {
        background-position: cover;
        align-items: center;
        width: 500px;
        margin-left: -150px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
        margin-top: 80px;
    }
    
    .feature-details h3 {
        color: deepskyblue;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .feature-details p {
        color: #616161;
        font-weight: 200;
    }
    
    .more-feature-area img {
        margin-left: 60px;
    }
    
    .pacakages {
        background-image: linear-gradient(white, rgba(0, 0, 0, 0.8)), url(Images/fit_main.PNG);
    }
    
    .intro-block {
        position: relative;
        background: #f7f7f7;
        margin: 50px 0px 0px;
        text-align: center;
        padding: 70px 25px 40px;
    }
    
    .intro-block:hover,
    .intro-block.active {
        background: #0AABE1;
    }
    
    .intro-block:hover {
        transition: .6s ease;
        -webkit-transition: .6s ease;
        -moz-transition: .6s ease;
        -o-transition: .6s ease;
        -ms-transition: .6s ease;
    }
    
    .intro-block .intro-icon {
        position: absolute;
        top: -31px;
        left: 50%;
        margin-left: -31px;
    }
    
    .intro-block .fa {
        width: 63px;
        height: 63px;
        font-size: 30px;
        color: white;
        line-height: 2;
        background: deepskyblue;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 10px #CCEEF9;
    }
    
    .intro-block:hover .fa,
    .intro-block.active .fa {
        background: white;
        color: deepskyblue;
        box-shadow: 0px 0px 0px 10px deepskyblue;
    }
    
    .intro-block h3 {
        font-size: 18px;
        color: deepskyblue;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .intro-block p {
        color: #505050;
    }
    
    .intro-block:hover h3,
    .intro-block:hover p {
        color: #f6f6f6;
    }
    
    .contact-area {
        flex-basis: 50%;
        padding: 100px 0;
    }
    
    .divider {
        border-right: 1px solid #d9d9d9;
    }
    
    .contact-area h3 {
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    
    .contact-area h4 {
        color: #3a3a3a;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 4px;
        letter-spacing: 0.025em;
    }
    
    .contact-area span {
        display: block;
        color: #3a3a3a;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.025em;
    }
    
    .contact-area ul li {
        overflow: hidden;
        margin-bottom: 25px;
    }
    
    .contact-area ul li:last-child {
        margin-bottom: 0;
    }
    
    .contact-address ul li .fa {
        float: left;
        width: 25px;
        color: deepskyblue;
        font-size: 30px;
    }
    
    .contact-address ul li .address-phone {
        float: left;
        width: 180px;
        padding-left: 25px;
    }
    
    .contact-block {
        padding-left: 25px;
    }
    
    .contact-area .form-control,
    .contact-area textarea {
        font-family: 'Roboto', sans-serif;
        background: #f8fdff;
        border: 1px solid #a5d3eb;
        padding: 10px 12px;
        color: #bdbdbd;
        height: 45px;
        font-weight: 400;
        border-radius: 0;
    }
    
    .contact-area .form-group {
        margin-bottom: 30px;
    }
    
    .contact-area textarea {
        min-height: 115px;
        width: 100%;
    }
    
    .contact-area .default-btn {
        padding: 10px;
    }
    
    footer {
        background: #34495e;
        background-size: cover;
        -webkit-background-size: cover;
        -mox-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    
    .social-icon a {
        margin: 0 16px 20px 16px;
        display: inline-block;
    }
    
    .social-icon .fa {
        font-size: 30px;
        color: deepskyblue;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: white;
        line-height: 2;
        border-radius: 50% transition 0.3s;
        border: 10px solid #b1c9d1;
        text-align: center;
    }
    
    .social-icon a:hover .fa {
        border: 10px solid white;
    }
    
    .bordernow {
        width: 80px;
        border-bottom: 2px solid white;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .right-ul li {
        list-style: none;
    }
    
    .right-ul li a {
        text-decoration: none;
        margin-right: 2rem;
    }
    
    .empty {
        margin: 0 auto;
    }
    
    .btn {
        display: inline-block;
        color: var(--colorWhite);
        cursor: pointer;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 0;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3rem;
        outline: none;
        padding: 2rem 3.2rem;
        letter-spacing: 1px;
    }
    
    .btn-sweet {
        background: var(--colorMain);
    }
    
    .btn-outline {
        border-color: var(--colorMain);
        color: var(--colorMain);
    }
    
    #form {
        margin: 7rem 5rem;
        display: flex;
        justify-content: flex-end;
    }
    
    .form-section {
        width: 50rem;
    }
    
    .form--header {
        margin-bottom: 4rem;
    }
    
    .form--header h2 {
        font-size: 3.5rem;
    }
    
    .form--header p {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    
    .group {
        margin-bottom: 1.5rem;
    }
    
    .form--label {
        display: block;
        font-weight: 700;
        font-size: 1.1rem;
        color: #434C5E;
        margin-bottom: .8rem;
        letter-spacing: 1px;
        position: relative;
        text-transform: uppercase;
    }
    
    .forgotPassword {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .forgotPassword a {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1rem;
        color: #434C5E;
    }
    
    .control {
        width: 100%;
        display: block;
        padding: 1.5rem;
        border-radius: 3px;
        border: 1px solid var(--colorSilver);
        font-size: 1.4rem;
        color: #596377;
        outline: none;
    }